Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Migrate==4.0.5
Flask-Babel==4.0.0
WTForms==3.1.1
Werkzeug==3.0.1
python-dateutil==2.8.2
jdatetime==5.0.0
requests==2.32.4
chardet==5.2.0
arabic-reshaper==3.0.0
python-bidi==0.6.6
Pillow==10.1.0
reportlab==4.0.8
openpyxl==3.1.2
qrcode==7.4.2
APScheduler==3.10.4
cryptography==42.0.8
